<div class="social">
  <div class="icons">
    <a href="https://lucasoverbey.dev/" class="icon icon--home">
      <i class="ri-home-line"></i>
    </a>
    <a href="#" class="icon icon--email">
      <i class="ri-mail-line"></i>
    </a>
    <a href="https://www.linkedin.com/in/luke-overbey-37b342235/" class="icon icon--linkedin">
      <i class="ri-linkedin-line"></i>
    </a>
    <span (click)="mailMe()" class="icon icon--github">
      <i class="ri-github-line"></i>
    </span>
  </div>
</div>