<div class="weather">
  <div class="weather-card-night">
    <input type="text" [(ngModel)]="location">
    <button (click)="fetchWeather()">Fetch Weather</button>
    <div class="weather-left">
      <!-- add momentjs under here -->
      <h3 class="last-updated">Last Updated: 10:00pm</h3>
      <h1 class="city-name">{{ weatherData.name }}</h1>
      <h1 class="temperature">{{ weatherData.main.temp }}°F</h1>
      <h2 class="temperature">Feels like: {{ weatherData.main.feels_like}}°F</h2>
      <h3 class="weather-description">{{ weatherData.weather[0].description }}</h3>
      <div class="weather-info">
        <h3 class="temp-high">High: {{ weatherData.main.temp_max }}°F</h3>
        <h3 class="temp-low">Low: {{ weatherData.main.temp_min }}°F</h3>
        <h3 class="precipitation">Precipitation: {{ weatherData.PrecipitationProbability}}%</h3>
        <h3 class="humidity">Humidity: {{ weatherData.main.humidity }}°F%</h3>
        <h3 class="wind">Wind: {{ weatherData.wind.speed }}</h3>
        <h3 class="pressure">Pressure: {{ weatherData.main.pressure}}</h3>
      </div>
    </div>
    <div class="weather-forecast-hourly">
      <div class="forecast-card">{{ weatherData.forecast[0].Temperature.Value }}</div>
      <div class="forecast-card">{{ weatherData.forecast[1].Temperature.Value }}</div>
      <div class="forecast-card">{{ weatherData.forecast[2].Temperature.Value }}</div>
      <div class="forecast-card">{{ weatherData.forecast[3].Temperature.Value }}</div>
      <div class="forecast-card">{{ weatherData.forecast[4].Temperature.Value }}</div>
      <div class="forecast-card">{{ weatherData.forecast[5].Temperature.Value }}</div>
    </div>
  </div>
</div>
