<div class="weather">
  <div class="search-bar-container">
    <div class="search-bar">
      <input type="text" [(ngModel)]="location">
      <button class="ri-search-line" (click)="fetchWeather()"></button>
    </div>
  </div>
  <div class="weather-card-night">
    <div class="weather-left">
      <h1 class="city-name">{{ weatherData.name }}</h1>
      <p class="last-updated">Last Updated: 10:00pm</p>
      <h1 class="temperature">{{ roundTemp(weatherData.main.temp) }}°F</h1>
      <h3 class="weather-description">{{ weatherData.weather[0].description }}</h3>
      <div class="divider-temp">
        <h3 class="feels-like">Feels like: </h3>
        <h3 class="feels-like">{{ roundTemp(weatherData.main.feels_like)}}°F</h3>
      </div>
      <div class="weather-info">
        <div class="divider-temp">
          <h1 class="temp-info-label">High: </h1>
          <h1 class="temp-info">{{ roundTemp(weatherData.main.temp_max) }}°F</h1>
        </div>
        <div class="divider-temp">
          <h1 class="temp-info-label">Low: </h1>
          <h1 class="temp-info">{{ roundTemp(weatherData.main.temp_min) }}°F</h1>
        </div>
        <div class="divider-temp">
          <h1 class="temp-info-label">Precipitation: </h1>
          <h1 class="temp-info">{{ weatherData.PrecipitationProbability}}%</h1>
        </div>
        <div class="divider-temp">
          <h1 class="temp-info-label">Humidity: </h1>
          <h1 class="temp-info">{{ weatherData.main.humidity }}%</h1>
        </div>
        <div class="divider-temp">
          <h1 class="temp-info-label">Wind: </h1>
          <h1 class="temp-info">{{ weatherData.wind.speed }} mph</h1>
        </div>
        <div class="divider-temp">
          <h1 class="temp-info-label">Pressure: </h1>
          <h1 class="temp-info">{{ weatherData.main.pressure}} inHg</h1>
        </div>
      </div>
    </div>
    <span class="exem-3">Hourly Forecast</span>
    <div class="weather-forecast-hourly">
      <div class="forecast-card">{{ weatherData.forecast[0].Temperature.Value }}</div>
      <div class="forecast-card">{{ weatherData.forecast[1].Temperature.Value }}</div>
      <div class="forecast-card">{{ weatherData.forecast[2].Temperature.Value }}</div>
      <div class="forecast-card">{{ weatherData.forecast[3].Temperature.Value }}</div>
      <div class="forecast-card">{{ weatherData.forecast[4].Temperature.Value }}</div>
      <div class="forecast-card">{{ weatherData.forecast[5].Temperature.Value }}</div>
    </div>
  </div>
</div>

<!-- <div class="weather-card-night">
  <div class="weather-left">
    <h3 class="last-updated">Last Updated: 10:00pm</h3>
    <h1 class="city-name">{{ weatherData.name }}</h1>
    <h1 class="temperature">{{ weatherData.main.temp }}°F</h1>
    <h2 class="temperature">Feels like: {{ weatherData.main.feels_like}}°F</h2>
    <h3 class="weather-description">{{ weatherData.weather[0].description }}</h3>
    <div class="weather-info">
      <h3 class="temp-high">High: {{ weatherData.main.temp_max }}°F</h3>
      <h3 class="temp-low">Low: {{ weatherData.main.temp_min }}°F</h3>
      <h3 class="precipitation">Precipitation: {{ weatherData.PrecipitationProbability}}%</h3>
      <h3 class="humidity">Humidity: {{ weatherData.main.humidity }}°F%</h3>
      <h3 class="wind">Wind: {{ weatherData.wind.speed }}</h3>
      <h3 class="pressure">Pressure: {{ weatherData.main.pressure}}</h3>
    </div>
  </div>
  <div class="weather-forecast-hourly">
    <div class="forecast-card">{{ weatherData.forecast[0].Temperature.Value }}</div>
    <div class="forecast-card">{{ weatherData.forecast[1].Temperature.Value }}</div>
    <div class="forecast-card">{{ weatherData.forecast[2].Temperature.Value }}</div>
    <div class="forecast-card">{{ weatherData.forecast[3].Temperature.Value }}</div>
    <div class="forecast-card">{{ weatherData.forecast[4].Temperature.Value }}</div>
    <div class="forecast-card">{{ weatherData.forecast[5].Temperature.Value }}</div>
  </div>
</div> -->
