<div class="weather">
  <div class="weather-card">
    <div class="weather-left">
      <h3 class="last-updated">Last Updated: 10:00pm</h3>
      <h1 class="city-name">Houston, TX</h1>
      <h1 class="temperature">88°</h1>
      <div class="weather-info">
        <h3 class="temp-high">High: 91°</h3>
        <h3 class="temp-low">Low: 74°</h3>
        <h3 class="precipitation">Precipitation: 66%</h3>
        <h3 class="humidity">Humidity: 56%</h3>
        <h3 class="wind">Wind: 66mph</h3>
        <h3 class="precipitation">Precipitation: 66%</h3>
      </div>
    </div>
    <div class="weather-forecast">
      <div class="forecast-card">sunday</div>
      <div class="forecast-card">monday</div>
      <div class="forecast-card">tuesday</div>
      <div class="forecast-card">wednesday</div>
      <div class="forecast-card">thursday</div>
      <div class="forecast-card">friday</div>
      <div class="forecast-card">saturday</div>
    </div>
  </div>
</div>
